html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #090909;
}
/* this broke other code scroll position, be carefull */
/* 
html,
body {
  height: 100%;
  overflow: auto;
} */

/* prevents left right shakes in mobile view */
body {
  overflow-x: hidden;
}
